:root {
--specialWhite03: rgba(255, 255, 255, 0.3);
--specialWhite07: rgba(255, 255, 255, 0.7);
--basicWhite: #ffffff;
--specialBlack01: rgba(0, 0, 0, 0.1);
--specialBlack02: rgba(0, 0, 0, 0.2);
--specialBlack03: rgba(0, 0, 0, 0.3);
--specialBlack06: rgba(0, 0, 0, 0.6);
--basicBlack: #000000;
--basicDark: #363636;
--inputGreyDark: #eaeaea;
--toggleGrey: #c4c4c4;
--specialLightGrey: #f2f2f2;
--lightGrey: #e5e5e5;
--basicGrey: #7e7e7e;
--darkGrey: #464646;
--specialBasicGrey: #dcdcdc;
--specialDarkGrey: #d9d9d9;
--specialYellow: #f7e296;
--specialYellowDark: #f0c52e;
--specialGreen: #91c92f;
--specialRed: #f6dada;
}
* {
box-sizing: border-box;
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
src: url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.eot');
src: local('Open Sans Light'), local('OpenSans-Light'),
url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), 
url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.woff') format('woff');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.eot'); 
src: local('Open Sans Regular'), local('OpenSans-Regular'),
url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), 
url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
}
@font-face {
font-family: 'Gilroy';
src: url('../fonts/gilroylight.woff2') format('woff2'),
url('../fonts/gilroylight.woff') format('woff');
font-weight: 300;
}
@font-face {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
url('../fonts/gilroyextrabold.woff') format('woff');
}
body {
margin: 0;
padding: 0;
min-width: 1160px;
font-size: 15px;
line-height: 28px;
font-weight: 300; 
font-family: "Open Sans", Arial, sans-serif;
color: var(--basicBlack);
background-color: var(--basicWhite); 
}
a {
text-decoration: none;
}
img {
max-width: 100%;
height: auto;
}
.page {
height: 100%;
}
.page-body {
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
clip: rect(1px,1px,1px,0);
}
.container {
width: 1160px;
margin: 0 auto;
}
.button {
display: inline-block;
position: relative;
font-size: 18px;
line-height: 22px;
font-family: 'Gilroy', 'Arial', sans-serif;
text-transform: uppercase;
font-weight: 800;
color: var(--basicBlack);
text-align: center;
vertical-align: middle;
letter-spacing: 0.2em;
z-index: 1; 
}
.main-header {
margin-top: 40px;
}
.navigation-wrapper {
display: flex;
flex-direction: column;
position: relative;
padding: 0;
padding-left: 60px;
padding-right: 60px;
background-color: var(--specialYellow);
}
.user-navigation {
order: -1;
display: flex;
flex-wrap: wrap;
}
.site-navigation .logo-header {
position: absolute;
top: -20px;
left: 60px;
}
.site-navigation > a[href]:hover,
.site-navigation > a[href]:focus {
opacity: 0.6;
}
.site-navigation > a[href]:active {
opacity: 0.3;
}
.search-field form {
display: flex;
align-items: start;
margin-top: 24px;
width: 444px;
min-height: 50px;
}
.search-field .input-search {
width: 358px;
margin: 0;
padding: 0;
padding-top: 23px;
padding-bottom: 9px;
padding-left: 39px;
box-sizing: border-box;
background-color: transparent;
border: none; 
}
.input-search::placeholder {
margin: 0;
padding: 0;
font-size: 15px;
line-height: 15px;
line-height: 20px;
color: var(--specialBlack03);
}
.input-search:hover::placeholder {
color: var(--specialBlack06);
}
.input-search:focus {
border-bottom: 2px solid var(--basicBlack);
outline: none;
}
.input-search:focus ~ .button-search {
display: block;
}
.label-search {
position: relative;
}
.label-search::before {
content: "";
position: absolute;
top: 21px;
left: 0;
width: 17px;
height: 17px;
background-image: url(../img/icon_search.svg);
background-repeat: no-repeat;
}
.search-field .button-search {
display: none;
padding: 13px 15px;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
background-color: transparent;
border: 2px solid var(--basicBlack);
cursor: pointer;
}
.button-search:hover,
.button-search:focus {
color: var(--basicWhite);
background-color: var(--basicBlack);
}
.button-search:active {
display: block;
color: var(--specialWhite03);
}
.login,
.compare,
.shop {
margin-top: 38px;
}
.login {
position: relative;
margin-left: 95px;
padding-left: 24px;
}
.login::before {
content: "";
position: absolute;
top: 8px;
left: 0;
width: 14px;
height: 15px;
background-image: url("../img/icon_user.svg");
background-repeat: no-repeat;
}
.compare {
position: relative;
margin-left: 216px;
padding-left: 24px;
}
.compare::before {
content: "";
position: absolute;
top: 8px;
left: 0;
width: 15px;
height: 15px;
background-image: url("../img/icon_chart.svg");
background-repeat: no-repeat;
}
.shop {
position: relative;
margin-left: auto;
padding-left: 22px;
}
.shop::before {
content: "";
display: block;
position: absolute;
top: 10px;
left: 0;
width: 11px;
height: 11px;
background-image: url("../img/icon_cart.svg");
background-repeat: no-repeat;
}
.login a,
.compare a,
.shop a {
font-size: 15px;
line-height: 20px;
color: inherit;
}
.login:hover,
.login:focus,
.compare:hover,
.compare:focus,
.shop:hover,
.shop:focus {
opacity: 0.6;
}
.login:active,
.compare:active,
.shop:active {
opacity: 0.3;
}
.site-navigation .navigation-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;
margin: 0;
margin-top: 37px;
padding: 0;
list-style: none;
}
.catalog {
position: relative;
cursor: pointer;
}
.catalog > a {
padding-right: 36px;
min-width: 230px;
letter-spacing: 2px;
}
.catalog:hover .menu-list-wrapper {
display: block;
}
.navigation-item:first-child {
position: relative;
}
.navigation-item:nth-child(2) {
margin-left: auto;
}
.navigation-item:nth-child(3) {
margin-left: 41px;
}
.navigation-item:last-child {
margin-left: 111px;
}
.navigation-item a[href]:hover,
.navigation-item a[href]:focus {
color: var(--specialBlack06);
}
.navigation-item a[href]:active {
color: var(--specialBlack03);
}
.catalog::before {
content: "";
position: absolute;
top: 3px;
right: 0;
width: 22px;
height: 22px;
background-image: url("../img/icon_plus.svg");
background-repeat: no-repeat;
}
.navigation-item:nth-child(2) > a,
.navigation-item:nth-child(3) > a,
.navigation-item:last-child > a {
letter-spacing: 3px;
}
.navigation-item > a {
font-size: 18px;
line-height: 22px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
text-transform: uppercase;
color: var(--basicBlack);
}
.menu-list-wrapper {
display: none;
}
.navigation-item .menu-list {
display: flex;
flex-wrap: wrap;
position: absolute;
top: 25px;
left: -60px;
margin: 0;
padding: 0;
padding-left: 60px;
padding-right: 60px;
padding-bottom: 37px;
min-width: 1160px;
list-style: none;
background-color: var(--specialYellow);
z-index: 1001;
}
.menu-list a {
font-size: 15px;
line-height: 20px;
font-weight: 300;
color: var(--basicBlack);
}
.catalog .column-list {
margin: 0;
margin-right: 63px;
margin-top: 27px;
padding: 0;
list-style: none;
}
.menu-column:last-child .column-list {
margin-right: 0;
}
.catalog .column-item {
margin-bottom: 8px;
}
.catalog .column-item:last-child {
margin-bottom: 0;
}
.column-item a[href]:hover,
.column-item a[href]:focus {
color: var(--specialBlack06);
}
.column-item a[href]:active {
color: var(--specialBlack03);
}
.slider-wrapper {
position: relative;
width: 100%;
background-color: transparent;
}
.slider-wrapper::before {
content: "";
display: block;
position: absolute;
width: 100%;
height: 161px;
background-color: var(--specialYellow);
z-index: -1;
}
.slider-pagination {
margin: 0;
padding: 0;
list-style: none;
}
.slider-list {
margin: 0;
padding: 0;
padding-top: 32px;
list-style: none;
z-index: 1000;
}
.slider-item {
display: none;
}
.slider-item:nth-child(1) {
display: flex;
justify-content: flex-end;
}
.slider-item {
height: 507px;
}
.slider-item:nth-child(1) img {
margin-bottom: 21px;
margin-right: 127px;
width: 384px;
height: 486px;
}
.slider-item:nth-child(2) img {
margin-top: 22px;
margin-right: 138px;
width: 345px;
height: 485px;
}
.slider-item:nth-child(3) img {
margin-top: 81px;
margin-right: 43px;
width: 526px;
height: 334px;
}
.slider-content {
position: relative;
margin-top: 25px;
max-width: 560px;  
background-color: transparent;
}
.slider-pagination {
display: flex;
position: absolute;
bottom: 150px;
right: 88px;
z-index: 20000;
}
.slider-pagination li {
margin-right: 18px;
}
.slider-pagination li:last-child {
margin-right: 0;
}
.pagination-button {
position: relative;
width: 12px;
height: 12px;
background-color: transparent;
background-image: url("../img/slider_button_empty.svg");
background-repeat: no-repeat;
border: none;
cursor: pointer;
}
.pagination-button::before {
content: "";
display: none;
position: absolute;
top: 0;
left: 0;
width: 12px;
height: 12px;
background-image: url("../img/slider_button.svg");
background-repeat: no-repeat;
}
.slider-pagination-item:nth-child(1) .pagination-button::before {
display: block;
}
.slider-pagination > li:nth-child(1).pagination-button:checked ~ .slider-list > li:nth-child(1) {
display: block;
}
.slider-content::after {
content: "";
display: block;
position: absolute;
top: 8px;
left: 0;
width: 100px;
height: 8px;
background-color: var(--basicWhite);
}
.slider-content::before {
content: "01";
position: absolute;
top: -46px;
right: 52px;
margin: 0;
padding: 0;
font-size: 179px;
line-height: 219px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
text-transform: uppercase;
color: var(--basicWhite);
z-index: -1;
}
.slider-item:nth-child(2) .slider-content::before {
content: "02";
position: absolute;
top: -46px;
right: 48px;
margin: 0;
padding: 0;
font-size: 179px;
line-height: 219px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
text-transform: uppercase;
color: var(--basicWhite);
z-index: -1;
}
.slider-item:nth-child(3) .slider-content::before {
content: "03";
position: absolute;
top: -46px;
right: 48px;
margin: 0;
padding: 0;
font-size: 179px;
line-height: 219px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
text-transform: uppercase;
color: var(--basicWhite);
z-index: -1;
}
.slider-content h3 {
margin: 0;
margin-top: 67px;
font-size: 47px;
line-height: 58px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
color: var(--basicBlack);
z-index: 1;
}
.slider-item:first-child h3 {
padding-right: 170px; 
}
.slider-item:nth-child(2) h3 {
padding-right: 170px; 
}
.slider-content p {
margin-top: 27px;
font-size: 15px;
line-height: 20px;
font-weight: 300;
}
.slider-item:nth-child(1) p {
padding-right: 80px;
}
.slider-item:nth-child(2) p,
.slider-item:nth-child(3) p {
padding-right: 107px;
}
.button-slider {
margin-top: 37px;
padding-left: 44px;
padding-right: 42px;
padding-top: 9px;
padding-bottom: 9px;
}
.button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.button-slider:hover::before,
.button-slider:focus::before {
height: 100%;
top: 0;
}
.button-slider:active {
color: var(--specialBlack03);
}
.slider-description {
display: flex;
flex-wrap: wrap;
padding: 0;
margin: 0;
margin-top: 34px;
}
.slider-description dl {
margin-right: 63px;
max-width: 186px;  
}
.slider-item:nth-child(3) dl{
margin-right: 27px;
}
.slider-item:nth-child(3) dl:last-child {
margin-right: 0;
}
.slider-description dl:last-child {
margin-right: 0;
}
.slider-description dt {
margin-bottom: 15px;
font-size: 36px;
line-height: 42px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 300;
letter-spacing: 0.1em;
}
.slider-description dd {
margin: 0;
font-size: 13px;
line-height: 15px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 300;
letter-spacing: 0.1em;
}
.popular-list {
display: flex;
flex-wrap: wrap;
margin: 0;
margin-top: 96px;
padding: 0;
list-style: none;
}
.popular-item {
margin-right: 40px;
width: 160px;
}
.popular-item:nth-child(6n) {
margin-right: 0;
}
.popular-image-wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 160px;
height: 160px;
background-color: var(--specialYellow);
cursor: pointer;
}
.popular-item a {
display: inline-block;
font-size: 18px;
line-height: 22px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
color: var(--basicBlack);
vertical-align: middle;
}
.popular-item h3 {
margin: 0;
margin-top: 35px;
}
.popular-image-wrapper:hover,
.popular-image-wrapper:focus {
background-color: var(--specialYellowDark);
}
.popular-image-wrapper:active img {
opacity: 0.3;
}
.popular-item:active a {
color: var(--specialBlack03);
}
.services {
position: relative;
margin-top: 88px;
padding-bottom: 68px;
background-color: var(--lightGrey);
}
.services::before {
content: "";
display: block;
width: 100%;
height: 100px;
background-color: var(--basicWhite);
}
.services-wrapper {
display: flex;
margin-top: -100px;
min-height: 320px;
background-color: transparent; 
}
.services-button-list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
margin: 0;
padding: 0;
width: 284px;
list-style: none;
border-right: 7px solid var(--basicBlack);
}
.services-button {
padding-top: 9px;
padding-bottom: 9px;
width: 160px;
background-color: transparent;
border: none;
outline: none;
}
.services-button:not(.services-button-active) {
cursor: pointer;
}
.services-button:not(.services-button-active)::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.services-button-active::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: var(--basicBlack);
}
.services-button:not(.services-button-active):hover::before,
.services-button:not(.services-button-active):focus::before {
height: 100%;
top: 0;
}
.services-button:not(.services-button-active):active {
top: 0;
height: 100%;
color: var(--specialYellow); 
}
.services-button-item:nth-child(1) .services-button:not(.services-button-active):active {
padding-left: 18px;
padding-right: 266px;
border: none;
outline: none;
}
.services-button-item:nth-child(2) .services-button:not(.services-button-active):active { 
padding-left: 23px;
padding-right: 260px;
border: none;
outline: none;
}
.services-button-item:nth-child(3) .services-button:not(.services-button-active):active {
padding-left: 36px;
padding-right: 247px;
border: none;
outline: none;
}
.services-button:not(.services-button-active):active::before {
background-color: var(--basicBlack);
}
li:nth-child(1) .services-button-active {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 18px;
padding-right: 266px;
color: var(--specialYellow);
}
li:nth-child(2) .services-button-active {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 20px;
padding-right: 260px;
color: var(--specialYellow);
}
li:nth-child(3) .services-button-active {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 35px;
padding-right: 247px;
color: var(--specialYellow);
}
.services-button-item {
margin-bottom: 22px;
width: 100%;
}
.service-button-item:first-child {
margin-top: 14px;
}
.services-button-item:last-child {
margin-bottom: 0;
}
.services-content-list {
margin: 0;
margin-left: auto;
padding: 0;
max-width: 760px;
list-style: none;
}
.services-content-item {
display: none;
}
.services-content-item:nth-child(1) {
display: block;
}
.services-content-item h3 {
margin: 0;
padding-top: 71px;
font-size: 47px;
line-height: 58px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
letter-spacing: 0.2em;
}
.services-content-item p {
margin-top: 40px;
font-size: 15px;
line-height: 28px;
letter-spacing: 0.1em;
}
.services-content-item:nth-child(1) p {
padding-right: 265px;
}
.services-content-item:nth-child(2) p {
padding-right: 180px;
}
.services-content-item:nth-child(3) p {
padding-right: 220px;
}
.services-content-item:nth-child(1) {
background-image: url("../img/delivery.png");
background-repeat: no-repeat;
background-position: 620px 70px;
}
.services-content-item:nth-child(2) {
background-image: url("../img/warranty.png");
background-repeat: no-repeat;
background-position: 100% 52px;
}
.services-content-item:nth-child(3) {
background-image: url("../img/credit.png");
background-repeat: no-repeat;
background-position: 595px 48px;
}
.brends-list {
display: flex;
flex-wrap: wrap;
margin: 0;
margin-top: 93px;
padding: 0;
list-style: none;
}
.brends-item:not(:nth-child(4n)) {
margin-right: 40px;
}
.brends-item img {
filter: grayscale(1);
}
.brends-item:hover img,
.brends-item:focus img{
filter: grayscale(0);
}
.brends-item:active {
opacity: 0.6;
}
.information-wrapper {
display: flex;
justify-content: space-between;
margin-top: 82px;
}
.about-us {
position: relative;
padding-bottom: 20px;
}
.about-us::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 80px;
height: 7px;
background-color: var(--basicBlack);
}
.about-us h2 {
margin: 0;
margin-top: 58px;
font-size: 47px;
line-height: 58px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
letter-spacing: 0.2em; 
}
.about-us p {
font-size: 15px;
line-height: 28px;
}
.about-us > p:nth-of-type(1) {
margin-top: 40px;
padding-right: 127px;
}
.about-us > p:nth-of-type(2) {
margin-top: 40px;
padding-right: 128px;
}
.about-us-list {
margin: 0;
margin-top: 58px;
padding: 0;
list-style: none;
}
.about-us-list p {
position: relative;
padding-left: 32px;
font-size: 16px;
line-height: 28px;
font-weight: 800;
font-family: 'Gilroy', 'Arial', sans-serif;
color: var(--basicBlack);
}
.about-us-list p::before {
content: "";
display: block;
position: absolute;
top: 8px;
left: 0;
width: 4px;
height: 4px;
border: 2px solid var(--lightGrey);
border-radius: 50%;
}
.about-us-button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.about-us-button {
margin-top: 50px;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 25px;
padding-right: 18px;
}
.about-us-button:hover::before,
.about-us-button:focus::before  {
top: 0;
height: 100%;
}
.about-us-button:active {
color: var(--specialBlack03);
}
.contacts {
position: relative;
min-width: 560px;
}
.contacts::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 80px;
height: 7px;
background-color: var(--basicBlack);
}
.contacts h2 {
margin: 0;
margin-top: 58px;
font-size: 47px;
line-height: 58px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
letter-spacing: 0.2em; 
}
.contacts > p:nth-of-type(1) {
margin-top: 40px; 
}
.contacts-map {
display: inline-block;
margin-top: 22px;
vertical-align: middle;
}
.contacts-button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.contacts-button {
margin-top: 69px;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 39px;
padding-right: 39px;
}
.contacts-button:hover::before,
.contacts-button:focus::before  {
top: 0;
height: 100%;
}
.contacts-button:active {
color: var(--specialBlack03);
}
.main-footer {
margin-top: 57px;
padding-bottom: 65px;
background-color: var(--basicDark);
}
.logo-footer {
display: inline-block;
margin-top: 63px;
vertical-align: middle;
cursor: pointer;
}
.logo-footer:hover,
.logo-footer:focus {
opacity: 0.6;
}
.logo-footer:active {
opacity: 0.3;
}
.footer-top {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
border-top: 1px solid transparent;
}
.footer-nav-wrapper {
display: flex;
flex-wrap: wrap;
margin-top: 41px;
}
.footer-nav-wrapper a {
font-size: 15px;
line-height: 20px;
font-weight: 300;
color: var(--specialWhite07);
}
.footer-login a{
position: relative;
margin-right: 42px;
padding-left: 27px;
}
.footer-login a::before {
content: "";
display: block;
position: absolute;
top: 5px;
left: 5px;
width: 13px;
height: 14px;
background-image: url("../img/icon_user_footer.svg");
background-repeat: no-repeat;
}
.footer-login a:hover,
.footer-login a:focus {
color: var(--basicWhite);
}
.footer-login a:active {
color: var(--specialWhite03);
}
.footer-login a:hover::before, 
.footer-login a:focus::before  {
opacity: 0.6;
}
.footer-login a:active::before  {
opacity: 0.3;
}
.footer-compare a{
position: relative;
margin-right: 42px;
padding-left: 25px;
}
.footer-compare a::before {
content: "";
display: block;
position: absolute;
top: 4px;
left: 0;
width: 14px;
height: 14px;
background-image: url("../img/icon_chart_footer.svg");
background-repeat: no-repeat;
}
.footer-compare a:hover,
.footer-compare a:focus {
color: var(--basicWhite);
}
.footer-compare a:active {
color: var(--specialWhite03);
}
.footer-compare a:hover::before, 
.footer-compare a:focus::before  {
opacity: 0.6;
}
.footer-compare a:active::before  {
opacity: 0.3;
}
.footer-shop a{
position: relative;
padding-left: 22px;
}
.footer-shop a::before {
content: "";
display: block;
position: absolute;
top: 4px;
left: 0;
width: 14px;
height: 14px;
background-image: url("../img/icon_cart_footer.svg");
background-repeat: no-repeat;
}
.footer-shop a:hover,
.footer-shop a:focus {
color: var(--basicWhite);
}
.footer-shop a:active {
color: var(--specialWhite03);
}
.footer-shop a:hover::before, 
.footer-shop a:focus::before  {
opacity: 0.6;
}
.footer-shop a:active::before  {
opacity: 0.3;
}
.footer-middle {
display: flex;
justify-content: space-between;
margin-top: 14px;
}
.footer-middle .adress {
display: inline-block;
max-width: 260px;
font-size: 15px;
line-height: 20px;
font-weight: 300;
vertical-align: middle;
color: var(--basicWhite);
}
.footer-navigation-list {
display: flex;
flex-wrap: wrap;
margin: 0;
margin-top: 14px;
margin-right: 37px;
padding: 0;
list-style: none;
}
.footer-navigation-item {
margin-right: 32px;
}
.footer-navigation-item:last-child {
margin-right: 0;
}
.footer-navigation-item a {
font-size: 18px;
line-height: 22px;
font-weight: 800;
font-family: 'Gilroy', 'Arial', sans-serif;
text-transform: uppercase;
letter-spacing: 0.2em;
color: var(--basicWhite);
}
.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
opacity: 0.6;
}
.footer-navigation-item a:active {
opacity: 0.3;
}
.phone-number a {
font-size: 15px;
line-height: 20px;
font-weight: 300;
color: var(--basicWhite);
}
.footer-bottom {
display: flex;
justify-content: space-between;
position: relative;
margin-top: 45px;
padding-left: 27px;
}
.footer-bottom::before {
content: "";
display: block;
position: absolute;
top: 10px;
left: 0;
width: 80px;
height: 7px;
background-color: var(--specialYellowDark);
} 
.footer-bottom .social-list {
display: flex;
flex-wrap: wrap;
margin: 0;
margin-left: auto;
margin-right: auto;
padding: 0;
list-style: none;
}
.social-item {
margin-right: 20px;
}
.social-item:last-child {
margin-right: 0;
}
.social-item a {
display: inline-block;
width: 32px;
height: 32px;
vertical-align: middle;
background-image: url("../img/icon_facebook.svg");
background-repeat: no-repeat;
opacity: 0.6;
}
.social-item:nth-child(2) a { 
background-image: url("../img/icon_instagram.svg");
background-repeat: no-repeat;
opacity: 0.6;
}
.social-item:nth-child(3) a {  
background-image: url("../img/icon_witter.svg");
background-repeat: no-repeat;
opacity: 0.6;
}
.social-item a:hover,
.social-item a:focus {
opacity: 1;
}
.social-item a:active {
opacity: 0.3;
}
.logo-creators {
cursor: pointer;
}
.logo-creators:hover,
.logo-creators:focus {
opacity: 0.6;
}
.logo-creators:active {
opacity: 0.3;
}
.modal {
display: none;
position: fixed;
top: 50%;
left: 50%;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 62px;
background-color: var(--basicWhite);
border-radius: 5px;
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
transform: translate(-50%,-50%);
z-index: 20000;
}
.open-form {
display: block;
animation: bounce 0.8s;
}
.modal-form-wrapper {
position: relative;
z-index: 3;
}
.close-button-wrapper {
position: relative;
}
.modal-close-button {
display: inline-block;
position: absolute;
top: -60px;
right: -81px;
width: 55px;
height: 55px;
background-color: var(--specialYellow);
vertical-align: middle;
border: none;
border-radius: 50%;
cursor: pointer;
}
.modal-close-button::before {
content: "";
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 30px;
height: 30px;
background-image: url("../img/icon_cross.png");
transform: translate(-50%,-50%);
}
.modal-close-button:hover,
.modal-close-button:focus {
background-color: var(--specialYellowDark);
}
.modal-close-button:active {
background-color: var(--specialYellow);
opacity: 0.6;
}
.input-group-wrapper {
display: flex;
margin-top: 92px;
}
.input-group {
display: flex;
flex-direction: column;
}
.label-form {
margin-bottom: 10px;
font-size: 18px;
line-height: 22px;
font-weight: 800;
font-family: 'Gilroy', 'Arial', sans-serif;
color: var(--basicBlack);
}
.input-field {
padding-top: 16px;
padding-bottom: 15px;
padding-left: 20px;
width: 360px;
background-color: var(--specialLightGrey);
border: none;
border-radius: 3px;
box-sizing: border: box;
outline: none;
}
.input-field:hover {
padding-top: 14px;
padding-bottom: 13px;
padding-left: 18px;
width: 360px;
background-color: var(--inputGreyDark);
border: 2px solid var(--inputGreyDark);
border-radius: 3px;
box-sizing: border: box;
}
.input-field:focus {
padding-top: 14px;
padding-bottom: 13px;
padding-left: 18px;
width: 360px;
background-color: var(--basicWhite);
border: 2px solid var(--specialYellowDark);
border-radius: 3px;
box-sizing: border: box;
outline: none;
}
.form-error {
animation: shake 0.6s;
}
.input-error {
padding-top: 14px;
padding-bottom: 13px;
padding-left: 18px;
width: 360px;
background-color: var(--specialRed);
border: 2px solid var(--specialRed);
border-radius: 3px;
box-sizing: border: box;
outline: none;
}
.input-field::placeholder {
font-size: 14px;
line-height: 1;
font-family: 'Open Sans', 'Arial', sans-serif;
color: var(--specialBlack03);
}
.input-group:first-child .input-field {
margin-right: 40px;
}
.input-group:nth-child(3) {
margin-top: 20px;
}
.textarea {
padding-top: 16px;
padding-left: 20px;
font-size: 14px;
line-height: 20px;
font-family: "Open Sans", "Arial", sans-serif;
color: var(--specialBlack03);
background-color: var(--specialLightGrey);
border-radius: 3px;
border:  2px solid  var(--specialLightGrey);
outline: none;
}
.textarea:hover {
background-color: var(--inputGreyDark);
}
.textarea:focus {
background-color: var(--basicWhite);
border: 2px solid var(--specialYellowDark);
border-radius: 3px;
box-sizing: border: box;
outline: none;
}
.form-button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.form-button {
margin-top: 13px;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 32px;
padding-right: 37px;
background-color: transparent;
border: none;
cursor: pointer;
}
.form-button:hover::before,
.form-button:focus::before  {
top: 0;
height: 100%;
}
.form-button:active {
color: var(--specialBlack03);
}
.map-popup {
display: none;
position: fixed;
top: 50%;
left: 50%;
width: 994px;
height: 593px; 
transform: translate(-50%,-50%);
z-index: 200000;
}
.open-map-popup {
display: block;
}
.map-popup-wrapper {
position: relative;
min-width: 994px;
min-height: 593px;
background-image: url(../img/map_popup.png);
background-repeat: no-repeat;
background-size: 994px 593px;
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}
.close-map-button {
display: inline-block;
position: absolute;
top: 32px;
right: 37px;
width: 55px;
height: 55px;
background-color: var(--specialYellow);
vertical-align: middle;
border: none;
border-radius: 50%;
cursor: pointer;
}
.map-popup iframe {
border: 0;
}
.close-map-button::before {
content: "";
display: block;
position: absolute;
top: 50%;
left: 50%;
width: 30px;
height: 30px;
background-image: url("../img/icon_cross.png");
transform: translate(-50%,-50%);
}
.close-map-button:hover,
.close-map-button:focus {
background-color: var(--specialYellowDark);
}
.close-map-button:active {
background-color: var(--specialYellow);
opacity: 0.6;
}
.inner-header .navigation-wrapper {
padding-bottom: 47px;
}
.inner-header .login,
.inner-header .compare,
.inner-header .shop {
margin-left: 0;
margin-right: 0;
}
.inner-header .login-out {
margin-top: 39px;
margin-left: 20px;
margin-right: 63px;
}
.login-out a {
font-size: 15px;
line-height: 20px;
color: inherit;
opacity: 0.6;
}
.inner-header .compare {
margin-right: 45px;
}
.inner-header .user-navigation {
justify-content: space-between;
}
.inner-header .header-user-nav-wrapper {
display: flex;
flex-wrap: wrap;
}
.inner-main h1 {
margin: 0;
margin-top: 44px;
margin-left: 60px;
font-size: 47px;
line-height: 58px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
}
.breadcrumbs-list {
display: flex;
margin: 0;
margin-top: 27px;
margin-left: 60px;
padding: 0;
list-style: none;
}
.breadcrumbs-item {
position: relative;
margin-right: 16px;
padding-right: 24px;
}
.breadcrumbs-item:nth-child(-n+2)::before {
content: "";
display: block;
position: absolute;
top: 8px;
right: 0;
width: 12px;
height: 12px;
background-image: url("../img/icon_arrow_nav.svg");
background-repeat: no-repeat;
}
.breadcrumbs-item a{
font-size: 14px;
line-height: 19px;
font-weight: 300;
color: var(--specialBlack03);
}
.breadcrumbs-item:hover a[href],
.breadcrumbs-item:focus a[href] {
color: var(--specialBlack06);
}
.breadcrumbs-item:active a[href] {
color: var(--specialBlack01);
}
.inner-main {
position: relative;
}
.content-wrapper {
display: flex;
justify-content: space-between; 
}
.filter {
z-index: 3; 
box-sizing: border-box;  
}
.filter h2 {
margin: 0;
margin-left: 60px;
padding-top: 25px;
font-size: 16px;
line-height: 20px;
font-family: 'Gilroy', 'Arial', sans-serif;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 0.1em;
}
.filter form {
margin-left: 60px;
margin-top: 96px;
width: 200px;
z-index: 3; 
}
.filter fieldset {
margin: 0;
padding: 0;
border: none;
}
.filter legend {
padding: 0;
padding-top: 14px;
font-size: 14px;
line-height: 17px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
letter-spacing: 0.1em;
color: var(--specialBlack);
}
.filter .price,
.filter .color,
.filter .bluetooth {
border-top: 2px solid var(--basicBlack);
}
.range-filter {
position: relative;
margin-top: 38px;
}
.filter .scale {
position: relative;
margin-top: 30px;
height: 2px;
width: 100%;
background-color: var(--specialBlack02);
}
.range-filter .bar {
height: 2px;
width: 70%;
background-color: var(--specialGreen);
}
.range-filter .toggle {
position: absolute;
top: -8px;
padding: 0;
width: 4px;
height: 4px;
background-color: var(--toggleGrey);
border: 8px solid var(--basicWhite);
box-sizing:content-box;
border-radius: 50%;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
cursor: pointer;
}
.range-filter .toggle-min {
left: 0;
}
.range-filter .toggle-max {
left: 115px;
}
.toggle:active {
transform: scale(1.1);
}
.price-controls {
display: flex;
justify-content: flex-start;
margin-top: 17px;
}
.price-controls input {
width: 50px; 
font-size: 14px;
line-height: 16px;
font-family: 'Gilroy','Arial', sans-serif;
font-weight: 300;
background-color: transparent;
border: none;
color: var(--basicBlack);
}
.price-controls label {
font-size: 14px;
line-height: 16px;
font-family: 'Gilroy','Arial', sans-serif;
font-weight: 300;
color: var(--basicBlack);
}
.label-checkbox {
font-size: 14px;
line-height: 19px;
cursor: pointer;
}
.min-price {
margin-right: 27px;
}
.filter .color {
margin-top: 37px;
}
.color .checkbox-group {
position: relative;
margin: 0;
margin-bottom: 11px;
padding-left: 42px;
}
.color legend {
margin-bottom: 29px;
}
.input-checkbox + label::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 20px;
border: 2px solid var(--basicBlack);
border-radius: 2px;
cursor: pointer;
}
.input-checkbox:checked + label::after {
content: "";
display: block;
position: absolute;
top: 7px;
left: 6px;
width: 14px;
height: 11px;
background-image: url("../img/checkbox_on.png");
background-repeat: no-repeat;
cursor: pointer;
}
.input-checkbox:hover + label::before,
.input-checkbox:focus + label::before {
opacity: 0.3;
outline: double;
}
.input-checkbox:checked:hover + label::after,
.input-checkbox:checked:focus + label::after {
opacity: 0.3;
}
.input-checkbox:active + label::before {
opacity: 1;
}
.input-checkbox:checked:active + label::after {
opacity: 1;
}
.input-disabled + label{
opacity: 0.3;
cursor: default;
}
.input-disabled + label:before{
opacity: 0.3;
cursor: default;
}
.input-disabled:hover + label:before {
opacity: 0.3;
}
.input-disabled:active + label:before {
opacity: 0.3;
}
.filter .bluetooth {
margin-top: 22px;
}
.bluetooth legend {
margin-bottom: 15px;
}
.radio-group {
position: relative;
margin: 0;
margin-top: 13px;
padding-left: 40px;
}
.label-radio {
cursor: pointer;
}
.input-radio + label::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 24px;
height: 24px;
background-image: url("../img/radio_off.png");
background-repeat: no-repeat;
cursor: pointer;
}
.input-radio:checked + label::after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 24px;
height: 24px;
background-image: url("../img/radio_on.png");
background-repeat: no-repeat;
cursor: pointer;
}
.input-radio:checked:hover + label::after,
.input-radio:checked:focus + label::after  {
opacity: 0.6;
outline: double;
}
.input-radio:checked:hover + label::before {
display: none;
}
.input-radio:hover + label::before,
.input-radio:focus + label::before {
opacity: 0.6;
outline: double; 
}
.input-radio:active + label::before {
opacity: 1;
}
.filter-button {
margin-top: 37px;
padding-left: 37px;
padding-right: 43px;
padding-top: 9px;
padding-bottom: 9px;
background-color: transparent;
border: none;
cursor: pointer;
}
.filter-button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.filter-button:hover::before,
.filter-button:focus::before {
top: 0;
height: 100%;  
}
.filter-button:active {
color: var(--specialBlack03);
}
.background-wrapper {
position: relative;
margin-top: 44px;
background-image: linear-gradient(to right , var(--lightGrey) 36.6%, var(--basicWhite) 36.6%);
}
.background-wrapper::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 70px;
background-image: linear-gradient(to right , var(--specialBasicGrey) 36.6%, var(--lightGrey) 36.6%);
}
.inner-catalog {
max-width: 760px;
z-index: 3;
}
.inner-catalog .inner-catalog-list {
display: flex;
flex-wrap: wrap; 
justify-content: space-between;
margin: 0;
margin-top: 89px;
padding: 0;
list-style: none;
}
.inner-catalog-sort {
display: flex;
justify-content: space-between;  
}
.inner-catalog-sort > p {
margin: 0;
padding-top: 25px;
font-size: 16px;
line-height: 20px;
font-family: 'Gilroy', 'Arial', sans-serif;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 0.1em;
}
.sort-list {
display: flex;
margin: 0;
margin-right: 148px;
padding: 0;
padding-top: 20px;
list-style: none;
}
.sort-item {
margin-right: 30px;
}
.sort-item:last-child {
margin-right: 0;
}
.sort-item a {
font-size: 14px;
line-height: 19px;
color: var(--specialBlack03);
}
.sort-item a:not(.sort-active):hover,
.sort-item a:not(.sort-active):focus {
color: var(--specialBlack06);
}
.sort-item:active a:not(.sort-active) {
color: var(--basicBlack);
}
.sort-item .sort-active {
color: var(--basicBlack);
}
.sort-arrows {
display: flex;
margin: 0;
margin-top: 20px;
padding: 0;
list-style: none;
}
.sort-arrows-item a {
display: inline-block;
width: 18px;
height: 18px;
vertical-align: middle;
background-image: url(../img/icon_down_dir.svg);
background-repeat: no-repeat;
}
.sort-arrows-item:first-child a {
transform: rotate(180deg);
opacity: 0.3;
}
.sort-arrows-item .button-arrows-active {
opacity: 1;
margin-left: 15px; 
}
.sort-arrows-item:hover a:not(.button-arrows-active),
.sort-arrows-item:focus a:not(.button-arrows-active) {
opacity: 0.6;
}
.sort-arrows-item:active a:not(.button-arrows-active) {
opacity: 1;
}
.inner-catalog-item {
margin-bottom: 0;
}
.inner-catalog-item:nth-child(-n+2) {
margin-bottom: 40px;
}
.inner-catalog-cart {
max-width: 380px;
}
.cart-content {
position: relative;
}
.cart-content::before {
content: "";
display: none;
position: absolute;
top: 29px;
right: 27px;
width: 62px;
height: 62px;
background-image: url("../img/icon_new.png");
background-repeat: no-repeat;
}
.inner-catalog-item:last-child .cart-content::before {
display: block
}
.cart-content-link {
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.cart-content:hover .cart-content-link {
display: flex;
}
.cart-title {
display: flex;
justify-content: space-between; 
}
.cart-title h3{
display: inline-block;
max-width: 266px;
vertical-align: middle;
margin: 0;
}
.cart-title a {
font-size: 18px;
line-height: 22px;
font-family: 'Gilroy', 'Arial', sans-serif;
letter-spacing: 0.03em;
font-weight: 800;
color: var(--basicBlack);
}
.cart-title {
display: flex;
justify-content: space-between;
margin-top: 19px;
}
.cart-title .cart-price {
display: inline-block;
margin-top: 8px;
font-size: 16px;
line-height: 18px;
text-align: right;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 300;
letter-spacing: 0.05em;
vertical-align: middle;
}
.cart-button {
margin-top: 37px;
padding-left: 44px;
padding-right: 42px;
padding-top: 9px;
padding-bottom: 9px;
}
.cart-button::before {
content: "";
display: block;
position: absolute;
left: 0;
top: 15px;
width: 100%;
height: 8px;
background-color: var(--specialYellowDark);
z-index: -1;
}
.cart-button:hover::before,
.cart-button:focus::before {
height: 100%;
top: 0;
}
.cart-button:active {
color: var(--specialBlack03);
}
.cart-compare {
font-size: 13px;
line-height: 18px;
font-weight: 300;
color: var(--specialBlack06);
}
.cart-compare:hover,
.cart-compare:focus {
color: var(--basicBlack);
}
.cart-compare:active {
color: var(--specialBlack03);
}
.catalog-pagination-list {
display: flex;
margin: 0;
margin-top: 26px;
margin-bottom: 75px;
padding: 0;
list-style: none;
background-color: var(--lightGrey);
box-sizing: border-box;
}
.catalog-pagination-item {
padding-top: 25px;
padding-bottom: 25px;
box-sizing: border-box;
}
.catalog-pagination-item a {
font-size: 16px;
line-height: 20px;
font-family: 'Gilroy', 'Arial', sans-serif;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 0.1em;
color: var(--basicBlack);
}
.catalog-pagination-item:not(:first-child):not(:last-child):not(.active-pagination) a {
color: var(--specialBlack03);
}
.catalog-pagination-item:first-child {
margin-right: 216px;
}
.catalog-pagination-item:last-child {
margin-left: auto;
}
.catalog-pagination-item:not(:first-child):not(:last-child) {
margin-right: 30px;
}
.catalog-pagination-item:first-child,
.catalog-pagination-item:last-child {
padding-left: 30px;
padding-right: 30px;
cursor: pointer;
}
.catalog-pagination-item:first-child:hover,
.catalog-pagination-item:first-child:focus,
.catalog-pagination-item:last-child:hover,
.catalog-pagination-item:last-child:focus {
background: var(--specialDarkGrey);
}
.catalog-pagination-item:first-child:active a,
.catalog-pagination-item:last-child:active a {
color: var(--specialBlack03);
}
.catalog-pagination-item:not(:last-child):not(:first-child):hover a[href],
.catalog-pagination-item:not(:last-child):not(:first-child):focus a[href] {
color: var(--specialBlack06);
}
.catalog-pagination-item:not(:last-child):not(:first-child):active a[href] {
color: var(--basicBlack);
}  
.inner-footer {
margin-top: 0;
}
.inner-footer .footer-login {
color: var(--basicWhite);
}
.inner-footer .footer-login a {
margin-right: 24px;
}
.inner-footer .footer-exit a {
color: var(--specialWhite03);
margin-right: 40px;
}
@keyframes bounce {
0% {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, 2000px);
}
50% {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -400px);
}
70% {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -300px);
}
100% {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -200px) ease-out;
}
}
@keyframes shake {
0%,
100% { 
position: fixed;
top: 50%;
left: 50%;
transform: translateX(-50%, -50%);
}
10%,
30%,
50%,
70%,
90% {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-49%, -50%);
}
20%,
40%,
60%,
80% {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-51%, -50%);
}
}