:root {
  --specialWhite03: rgba(255, 255, 255, 0.3);
  --basicWhite: #ffffff;

  --specialBlack03: rgba(0, 0, 0, 0.3);
  --specialBlack06: rgba(0, 0, 0, 0.6);
  --basicBlack: #000000;

  --basicDark: #363636;

  --lightGrey: #e5e5e5;
  --basicGrey: #7e7e7e;
  --darkGrey: #464646;
  
  --specialYellow: #f7e296;
  --specialYellowDark: #f0c52e;
  
  --specialGreen: #91c92f;
  
  --specialRed: #f6dada;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), 
       url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.eot'); 
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
}

@font-face {
font-family: 'Gilroy';
src: url('gilroylight.woff2') format('woff2'),
url('gilroylight.woff') format('woff');
font-weight: 300;
}

@font-face {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
src: url('gilroyextrabold.woff2') format('woff2'),
     url('gilroyextrabold.woff') format('woff');

}

body {
  margin: 0;
  padding: 0;

  min-width: 1160px;
  
  font-size: 15px;
  line-height: 28px;
  font-weight: 300; 
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basicBlack);

  background-color: var(--basicWhite); 
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,0);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  margin-top: 40px;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 0;
  padding-left: 60px;
  padding-right: 60px;

  background-color: var(--specialYellow);
}

.user-navigation {
  order: -1;

  display: flex;
}

.site-navigation .logo-header {
  position: absolute;
  top: -20px;
  left: 56px;
}

.site-navigation > a[href]:hover,
.site-navigation > a[href]:focus {
  opacity: 0.6;
}

.site-navigation > a[href]:active {
  opacity: 0.3;
}

.search-field form {
  display: flex;
  align-items: start;

  margin-top: 24px;

  width: 444px;
  min-height: 50px;
}

.search-field .input-search {
  width: 358px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 9px;
  padding-left: 39px;

  box-sizing: border-box;

  background-color: transparent;
  border: none; 
}

.input-search::placeholder {
  margin: 0;
  padding: 0;
  
  font-size: 15px;
  line-height: 15px;
  line-height: 20px;
  color: var(--specialBlack03);
}

.input-search:hover::placeholder {
  color: var(--specialBlack06);
}

.input-search:focus {
  border-bottom: 2px solid var(--basicBlack);
  outline: none;
}

.input-search:focus ~ .button-search {
  display: block;
}

.label-search {
  position: relative;
}

.label-search::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;

  width: 17px;
  height: 17px;

  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
}

.search-field .button-search {
  display: none;
  padding: 13px 15px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  
  background-color: transparent;

  border: 2px solid var(--basicBlack);
  cursor: pointer;
}

.button-search:hover,
.button-search:focus {
  color: var(--basicWhite);

  background-color: var(--basicBlack);
}

.button-search:active {
  display: block;
  color: var(--specialWhite03);
}

.login,
.compare,
.shop {
  margin-top: 38px;
}

.login {
  position: relative;

  margin-left: 95px;
  padding-left: 24px;
}

.login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 14px;
  height: 15px;

  background-image: url("../img/icon_user.svg");
  background-repeat: no-repeat;
}

.compare {
  position: relative;

  margin-left: 216px;
  padding-left: 24px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon_chart.svg");
  background-repeat: no-repeat;
}

.shop {
  position: relative;
  
  margin-left: auto;
  padding-left: 22px;
}

.shop::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 11px;
  height: 11px;

  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
}

 .login a,
 .compare a,
 .shop a {
  font-size: 15px;
  line-height: 20px;
  color: inherit;
 }

.login:hover,
.login:focus,
.compare:hover,
.compare:focus,
.shop:hover,
.shop:focus {
  opacity: 0.6;
}

.login:active,
.compare:active,
.shop:active {
  opacity: 0.3;
}

.site-navigation .navigation-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  margin-top: 37px;
  padding: 0;

  list-style: none;
}

.catalog {
  position: relative;

  cursor: pointer;
}

.catalog > a {
  padding-right: 36px;

  min-width: 230px;

  letter-spacing: 2px;
}

.catalog:hover .menu-list-wrapper {
  display: block;
}

.navigation-item:first-child {
  position: relative;
}

.navigation-item:nth-child(2) {
  margin-left: auto;
}

.navigation-item:nth-child(3) {
  margin-left: 41px;
}

.navigation-item:last-child {
  margin-left: 111px;
}

.navigation-item a[href]:hover,
.navigation-item a[href]:focus {
  color: var(--specialBlack06);
}

.navigation-item a[href]:active {
  color: var(--specialBlack03);
}

.catalog::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;

  width: 22px;
  height: 22px;

  background-image: url("../img/icon_plus.svg");
  background-repeat: no-repeat;
}

.navigation-item:nth-child(2) > a,
.navigation-item:nth-child(3) > a,
.navigation-item:last-child > a {
  letter-spacing: 3px;
}

.navigation-item > a {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--basicBlack);
}

.menu-list-wrapper {
  display: none;
}

.navigation-item .menu-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 25px;
  left: -60px;

  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 37px;

  min-width: 1160px;

  list-style: none;

  background-color: var(--specialYellow);
  z-index: 1001;
}

.menu-list a {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basicBlack);
}

.catalog .column-list {
  margin: 0;
  margin-right: 63px;
  margin-top: 27px;
  padding: 0;

  list-style: none;
}

.menu-column:last-child .column-list {
  margin-right: 0;
}

.catalog .column-item {
  margin-bottom: 8px;
}

.catalog .column-item:last-child {
  margin-bottom: 0;
}

.column-item a[href]:hover,
.column-item a[href]:focus {
  color: var(--specialBlack06);
}

.column-item a[href]:active {
  color: var(--specialBlack03);
}
 
.slider-wrapper {
  position: relative;
  width: 100%;

  background-color: transparent;
}

.slider-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 161px;
  background-color: var(--specialYellow);
  z-index: -1;
}

.slider-pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list {
  margin: 0;
  padding: 0;
  padding-top: 32px;

  list-style: none;
  z-index: 1000;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

.slider-item:nth-child(1) img {
  margin-bottom: 16px;
  margin-right: 127px;

  width: 384px;
  height: 486px;
}

.slider-item:nth-child(2) img {
  margin-top: 22px;
  margin-right: 138px;

   width: 345px;
   height: 485px;
}

.slider-item:nth-child(3) img {
  margin-top: 81px;
  margin-right: 43px;

  width: 526px;
  height: 334px;
  
}

.slider-content {
  position: relative;
  margin-top: 25px;
  max-width: 560px;  
  background-color: transparent;
}

.slider-pagination {
  display: flex;
  position: absolute;
  bottom: 145px;
  right: 88px;
  z-index: 20000;
}

.slider-pagination li {
  margin-right: 18px;
}

.slider-pagination li:last-child {
  margin-right: 0;
}

.pagination-button {
  width: 12px;
  height: 12px;

  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.pagination-button-active {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
}

.slider-content::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;

  width: 100px;
  height: 8px;
  background-color: var(--basicWhite);
}

.slider-content::before {
  content: "01";
  
  position: absolute;
  top: -46px;
  right: 48px;
  
  margin: 0;
  padding: 0;

  font-size: 179px;
  line-height: 219px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  color: var(--basicWhite);
  z-index: -1;
}

.slider-item:nth-child(2) .slider-content::before {
  content: "02";
  
  position: absolute;
  top: -46px;
  right: 48px;
  
  margin: 0;
  padding: 0;

  font-size: 179px;
  line-height: 219px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  color: var(--basicWhite);
  z-index: -1;
}

.slider-item:nth-child(3) .slider-content::before {
  content: "03";
  
  position: absolute;
  top: -46px;
  right: 48px;
  
  margin: 0;
  padding: 0;

  font-size: 179px;
  line-height: 219px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  color: var(--basicWhite);
  z-index: -1;
}

.slider-content h3 {
  margin: 0;
  margin-top: 67px;
  font-size: 47px;
  line-height: 58px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  color: var(--basicBlack);
  z-index: 1;
}

.slider-item:first-child h3 {
 padding-right: 170px; 
}

.slider-item:nth-child(2) h3 {
 padding-right: 170px; 
}


.slider-content p {
  margin-top: 27px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.slider-item:nth-child(1) p {
  padding-right: 80px;
}

.slider-item:nth-child(2) p,
.slider-item:nth-child(3) p {
  padding-right: 107px;
}

.button {
  display: inline-block;
  position: relative;

  font-size: 18px;
  line-height: 22px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--basicBlack);
  text-align: center;
  vertical-align: middle;
  
  letter-spacing: 0.2em;
  z-index: 1;
 
}

.button-slider {
  margin-top: 37px;
  padding-left: 44px;
  padding-right: 42px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 15px;

  width: 100%;
  height: 8px;
  background-color: var(--specialYellowDark);
  z-index: -1;
}

.button:hover::before,
.button:focus::before {
  height: 100%; 
  top: 0;
}

.button:active {
  color: var(--specialBlack03);
}

.button-slider:hover {
  height: auto;
  line-height: 22px;
}

.slider-description {
  display: flex;
  
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 34px;
}

.slider-description dl {
  max-width: 186px;
  margin-right: 63px;
}

.slider-item:nth-child(3) dl{
  margin-right: 27px;
}

.slider-item:nth-child(3) dl:last-child {
  margin-right: 0;
}

.slider-description dl:last-child {
  margin-right: 0;
}

.slider-description dt {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 42px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.slider-description dd {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 104px;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: var(--specialYellow);

  cursor: pointer;
}

.popular-item a {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  color: var(--basicBlack);
  vertical-align: middle;
}

.popular-item h3 {
  margin: 0;
  margin-top: 35px;
}

.popular-image-wrapper:hover,
.popular-image-wrapper:focus {
  background-color: var(--specialYellowDark);
}

.popular-image-wrapper:active img {
  opacity: 0.3;
}

.popular-item:active a {
  color: var(--specialBlack03);
}

.services {
  margin-top: 200px;
  background-color: var(--lightGrey);
}

.services-wrapper {
  display: flex;

  margin-top: -20px;

  min-height: 320px;
  
}

.services-button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 0;
  
  width: 277px;
  list-style: none;

  border-right: 7px solid var(--basicBlack);

  background-color: tomato;
}

.services-button {
  width: 160px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  background-color: transparent;
}

.service-button-active {
  padding-left: 24px;
  padding-right: 100%;
  color: var(--specialYellow);
  background-color: var(--basicBlack);
  box-sizing: border-box;
  z-index: 2;
}

.services-button-item {
  width: 100%;
  margin-bottom: 25px;
}

.services-button-item:last-child {
  margin-bottom: 0;
}

.services-content-list {
  margin: 0;
  padding: 0;

  max-width: 876px;

  list-style: none;

  background-color: teal;
}

.services-content-item {
  display: none;
}

.services-content-item:nth-child(1) {
  display: block;
}
